@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


header {
  background-color: #1DB954;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.header-subtitle {
  font-size: 18px;
}


.button {
  margin: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #191414;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #006124;
}


.artist-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artist-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.artist-details {
  flex-grow: 1;
}

.artist-name {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.artist-genre {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.artist-popularity {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.trackAndArtistNumber {
  margin: 20px;
}

label {
  margin: 30px;
} */

