.container {
    color: white;
    margin:0 auto;
    width:65%;
 }

 header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 20;
    background: transparent;
    padding: 0px;
 }

h1{
    text-align: center;
    color: white;
    font-size: 80px;
    font-family:'Courier New', Courier, monospace;
    padding-top: 40px;
    margin: auto;
}
h2{
    text-align: left;
    color: white;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 a {
  color: white;
}

h2 a:hover{
  color: gray;
}

h3{
    text-align: left;
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



body{
    height: auto;
    background: #0e1111;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 800px;
    height: 600px;
    display: block;

}

a{
    color: #448ee4;
}
a:hover{
    color:#255185;
}

.topRibbon {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,rgb(214, 30, 174) 0,#448ee4);
    padding: 0px;
    width: 100%;
    min-width: 100%;
  }

.navList{
    display: inline;
}

p{
    margin-top: 100px;
    font-size: 25px;
    color: white;
    font-family: "Trebuchet MS";
}

form {
    margin: 0 auto;
    align-items: center;
    background: rgba(14, 17, 17, .75);
    max-width: 50%;
    align-items: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    max-height: 300px;
    height: 300px;
  }

input[type="text"]{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 35%;
    padding: 1%;
    float: left;
}

input[type="email"]{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 50%;
    padding: 1%;
    float: right;
}

textarea{
    font-size: 20px;
    width: 99.5%;
    resize: none;
}

  input[type="submit"] {
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #448ee4;
    color: white;
    font-size: 40px;
    cursor: pointer;
    width: 200px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px auto;
    display: block;
  }
  
  input[type="submit"]:hover {
    background-color: #255185;
  }
  
  .button{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    text-align: center;
    font-size: 30px;
    padding: 30px 15px;
    width: 175px;
    cursor: pointer;
    top: 0;
    font-weight: bolder;
}


.button:hover {
    background-color: rgba(0, 0, 0, .4);
}

nav{
    text-align: center;
    padding-bottom: 20px;
    background-color: #0e1111;
    position: sticky;
    top: 0;
    width: 100%;
}

li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 25px;
}

.contact{
    background: url(../images/gamecollectionE.jpg);
    background-size: cover;
    background-position: center center;
    background-color: #0e1111;
    color: black;
    width: 100%;
    height: 500px;
    max-height: 1000px;
}

img{
    height: auto;
    max-width: 80%;
}

uo li{
  padding-bottom: .5em;
  font-size: 24px;
}

#contactUsBG{
    background: linear-gradient(90deg,rgb(235, 19, 127) 0,#448ee4);
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
    
#homeBG{
    padding: 0px;
    background-color: #0e1111;
    background: url(../images/gamecollection6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 0;
    height: 800px;
    max-height: 800px;
}

#gcBG{
    width: 100%;
    background: url(../images/gcBG2.jpg);
    background-color: #0e1111;
    height: 600px;
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#wiiBG{
    width: 100%;
    background: url(../images/wiiBG2.jpg);
    background-color: #0e1111;
    height: 600px;
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#wiiuBG{
    width: 100%;
    background: url(../images/wiiuBG.jpg);
    background-color: #0e1111;
    height: 600px;
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#switchBG{
    width: 100%;
    background: url(../images/switchBG2.jpg);
    background-color: #0e1111;
    height: 600px;
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#nesBG{
    width: 100%;
    background: url(../images/nesBG.jpg);
    background-color: #0e1111;
    height: 600px;
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#snesBG{
    width: 100%;
    background: url(../images/snesBG2.jpg);
    background-color: #0e1111;
    height: 600px;
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#n64BG{
    width: 100%;
    background: url(../images/n64BG2.jpg);
    background-color: #0e1111;
    height: 600px;
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#grayScaleHomeBottom{
    background: linear-gradient(180deg,rgba(14,17,17,0) 0,#0e1111);
    width: 100%;
    height: 50%;
    position: relative;
    top: 0px;
}
#grayScaleHomeTop{
  background: linear-gradient(0deg,rgba(14,17,17,0) 0,#0e1111);
  width: 100%;
  height: 50%;
  position: relative;
  top: 0px;
}

#grayScaleOther{
    background: linear-gradient(180deg,rgba(14,17,17,0) 0,#0e1111);
    width: 100%;
    height: 50%;
    position: relative;
    top: 300px;
}
.dropdownMenu{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    margin: 0px;
    padding: 0px;
}

.hamburger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .dropdownMenu li {
    list-style: none;
    
    cursor: pointer;
    text-align: center;
  }
  
  .dropdownMenu li:hover {
    background-color: #ddd;
    color: #333;
  }

  .topRibbonMobile{
    display: none;
  }

  .dropdownMenu{
    display: none;
  }


@media (max-width: 1430px) {
      .hamburger {
        display: inline;
        background: transparent;
        padding: 15px;
        font-size: 30px;
        font-weight: bolder;
        margin: 0;
        left: 0;
        right: 90%;
        top: -1px;
        border: none;
      }
      
      .dropdownMenu {
        z-index: 0;
        display: block;
        background: white;
        margin: 0;
        padding: 0;
        width: 30%;
        top: 69px;
        left: 0;
      }

      .dropdownMenu a{
        margin: 0;
        padding: 0;
        color: black;
        z-index: 0;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none
      }

      .dropdownMenu li{
        text-align: center;
        font-size: 50px;
        left: 0;
        margin: 0;
      }

      .dropdownMenu ul{
        padding: 0;
        margin: 0;
        display: none;
      }

      #homeH1{    
        padding-top: 150px;
        width: 100%;
      }

      .topRibbon{
        display: none;
      }
      
      #topRibbonMobile{
        position: absolute;
        z-index: 90;
        padding: 35px 0px;
        background: linear-gradient(90deg,rgb(214, 30, 174) 0,#448ee4);
        width: 100%;
        min-width: 100%;
        top: 0;
        margin: 0;
      }

      nav{
        background-color: #0e1111;
        position: sticky;
        top: 0;
        width: 100%;
    }

  }
  
  @media (max-width: 1100px){
    input[type="submit"] {
      padding: 20px;
      font-size: 30px;
      width: 125px;
    }
  }

  @media (max-width: 810px) {
    #topRibbonMobile{
      padding: 40px 0px;
    }
    input[type="submit"] {
      padding: 20px;
      font-size: 30px;
      width: 125px;
    }
    h1{
      font-size: 55px;
    }
    h2{
      font-size: 35px
    }
    p{
      font-size: 20px;
    }
    a .container{
      font-size: 20px;
    }
    ul li > a{
      font-size: 40px;
    }
    uo li{
      font-size: 20px;
    }
  }
  
  @media (max-width: 670px){
    ul li > a{
      font-size: 30px;
    }
  }

  @media (max-width: 515px){
    h1{
      font-size: 45px;
    }
    p{
        font-size: 16px; 
    }
    uo li{
      font-size: 16px;
    }
    input[type="submit"] {
      padding: 10px;
      font-size: 20px;
      width: 100px;
    }
    ul li > a{
      font-size: 20px;
    }
    a .container{
      font-size: 16px;
    }
    @media (max-width: 450px){
      h1{
        font-size: 30px;
      }
      h2{
        font-size: 25px;
      }
    }
  }
  
    